.navbar-nav .nav-link {
  color: white;
  font-family: 'Poppins';
}

.navbar-right {
  margin-left: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 300px;
  height: auto;
  margin-right: 20px;
  margin-left: -20px;
}
